.error-page {
    height: 94vh;
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 35px;
        height: 100%;
        text-align: center;

        .title {
            font-size: 7rem;
        }

        .subtitle {
            font-size: 2rem;
        }
    }
}